

<p>Name: <%= @user.first_name.titleize %> <%= @user.last_name.titleize %></p>
<p>Alias: <%= @user.nick_name.titleize %></p>
<p>Email: <%= @user.email %></p>

<hr>

<p>Total Number of Posts: <%= @ideas.count %></p>
<p>Total Number of Likes: <%= @likes.count %></p> 